.App {
  text-align: center;
}
.Cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5%;
}
.sale {
  background-color: red;
  margin: 5%;
}

.exc {
  background-color: green;
  margin: 5%;
}

.dropdown {
  display: flex;
  flex-direction: row-reverse;
  /* margin-top: 0%; */
  margin: 3%;
  margin-top: 0%;
}
